*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 12px;
    transition: 0.4s;
    cursor: default;
}

span{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

:root{
    --mainColor: #ffffff;
    --secondaryColor: #1f1f1f;
    --tertiaryColor: #181818;

    --webInterfaceGreen: #2cd41b;
    --webInterfaceRed: #db0f0f;
    --webInterfaceOrange: #ff7f00;
}

/* BACKGROUND */

body{
    background-color: var(--secondaryColor);
    overflow: hidden;
}


/* REFERENCE IMAGE */

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;

}

.overlayContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    width: 70%;
}

.referenceContent{
    aspect-ratio: 16/9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow:black 0 0 50px;
    margin: 0.75%;
    
}

.referenceImage{
    aspect-ratio: 16/9;
    width: 100%;
    pointer-events: all;
}

.referenceTitle{
    font-weight: 900;
    font-size: 40px;
}

.hintText, .hintTextKey{
    font-size: 20px;
    font-weight: 400;
}

.hintContainer{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hintTextKey{
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    border-radius: 2px;
    padding: 1%;
    margin-right: 15px;
    outline: var(--tertiaryColor) solid 2px;
}

/* DASHBOARD DESIGN */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: top;
    justify-content: center;
}

.boxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box{
    box-sizing: border-box;
    background-color: rgb(68, 68, 68)/*var(--secondaryColor)*/;
    border-radius: 20px;
    height: 100%;
    margin: 0.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
}

.boxTitleContainer{
    width: 100%;
    height: 50px;
    align-items: left;
    background-color: var(--secondaryColor);
    justify-content: center;
    padding-left: 10px;
    padding-top: 3px;
}

.boxTitle{
    color: var(--mainColor);
    font-size: 25px;
    font-weight: 700;
}

.dashRow1-Column,.dashRow2-Column, .dashRow3-Column{
    height: 100%;
}

.dashColumn1-Row, .dashColumn2-Row, .dashColumn3-Row, .dashColumn4-Row{
    width: 100%;
}

.dashColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0.25%;
    outline: var(--tertiaryColor) solid 3px;
}

.dashRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75%;
    border-radius: 10px;
    
}

.columnInRow{
    outline: var(--tertiaryColor) solid 4px;
    border-radius: 10px;
    margin: 0.75%;
}

.rowInColumn{
    outline: var(--tertiaryColor) solid 4px;
    border-radius: 10px;
}

#dashColumn4-Row1{
    margin: 0 0 0.75% 0;
}

#dashColumn4-Row2{
    margin: 0.75% 0 0 0;
}

#dashRow2-Column1, #dashColumn4{
    outline: white solid 0px;
}

#dashColumn4{
    padding: 0;
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

/* COMPUTER DATA */



/* SETTINGS */

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.settingsIcon{
    max-width: 70%;
    max-height: 70%;
}

.settingsContentContainer{
    width: 100%;
}

.settingsControlContainer{
    margin: 0 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeSettingsContainer{
    border: var(--mainColor) solid 2px;
    border-radius: 10px;
    padding: 5px;
    color: var(--mainColor);
    background-color: var(--secondaryColor);
}

.closeSettingsContainer:hover{
    border: var(--mainColor) solid 2px;
    border-radius: 10px;
    padding: 5px;
    color: var(--secondaryColor);
    background-color: var(--mainColor);
}

.closeSettingsButton{
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}

.settingsTitle{
    color: var(--mainColor);
    font-weight: 900;
}

.inputContainer{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    height: auto;
    flex-direction: column;
}

.checkboxInput{
    background-color: var(--secondaryColor);
}

.checkboxLabel{
    color: var(--mainColor);
    margin: 0 0 0 5px;
    font-weight: 500;
}

.settingsDialog{
    width: 30%;
    height: calc(100% - 40px);
    border-radius: 20px;
    padding: 20px;
    margin: 0.75%;
    background-color: var(--secondaryColor);
}

#dashRow1-Column2{
    background-color: unset;
    outline: unset;
}



/* REAL-TIME DATA */

#contentContainer2{
    background-color: var(--secondaryColor);
}

.realTimeContainer{
    background-color: unset;
    width: 100%;
    height: 100%;
    display: flex;
}

.dataInfo{
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
}

.dataDropdown{
    position: relative;
    margin: 0 15px;
}

.dataDropdownMenu{
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: var(--mainColor);
    padding: 0.75rem;
    border-radius: 0.25rem;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
    transition-duration: 0.15s;
    opacity: 0;
}

/* .dataSelect {
    border: 1px solid var(--quadraryColor);
    border-radius: 2px;
    padding: 1px 3px;
    background-color: unset;
}

.dataSelect > div {
    transform: rotate(180deg);
    font-size: 10px;
    line-height: 6px;
    scale: 1 0.5;
    color: var(--mainColor);
}

.dataDropdown > .dataSelect:focus + .dataDropdownMenu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
    background-color: var(--quadraryColor);
    color: white;
    opacity: 0.8;
} */

.graphicalDataSection{
    background-color: unset;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.graphSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.axisLabel{
    font-family: 'JetBrains Mono';
    fill: var(--mainColor);
    opacity: 0.5;
}

.tick text{
    font-family: 'JetBrains Mono';
    font-weight: 500;
}
.real-time-box {
    background-color: #1e1e1e; /* Darker gray for the box */
    padding: 30px;
    border: 2px solid #333; /* Dark border */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 500px; /* Bigger box */
    position: relative;
}
.real-time-box h1 {
    font-size: 1.8em;
    color: var(--mainColor);
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}
.data-list div {
    font-size: 1.2em;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.dataTable{
    width: 100%;
    height: 100%;
}

.numericalDataSection{
    background-color: unset;
    height: 100%;
    width: 40%;
    display: flex;
    display: flex;
    justify-content: space-around;
}

.dataTitle{
    font-size: 16px;
    font-family: 'JetBrains Mono';
    font-weight: 900;
    font-style: italic;
    color: var(--mainColor);
    width: auto;
    text-align: right;
}

.dataValue{
    font-size: 16px;
    font-family: 'JetBrains Mono';
    font-weight: 300;
    color: var(--mainColor);
    text-align: center;
    width: 10%;
}




/* ENABLE/DISABLE FEATURES */



/* LOG */

.topLogShadowContainer{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: var(--secondaryColor);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
    -webkit-mask-image:-webkit-linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
    z-index: 1;
}

.bottomLogShadowContainer{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 15%;
    background-color: var(--secondaryColor);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0));
    -webkit-mask-image:-webkit-linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1));
    z-index: 1;
}

#LogTextContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--secondaryColor);
}

.timeContainer{
    margin: 0 10px 0 0;
}

.timeText{
    color: white;
    font-family: 'JetBrains Mono';
    font-weight: 800;
    font-size: 16px;
}

.chatOverheadContainer{
    height: 85%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--secondaryColor);
}

.chatContainer{
    background-color: var(--secondaryColor);
    height: 100%;
    width: 100%;
    color: white;
    align-content: end;

}

.singleChat{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: 0;
}

.timestampBox{
    background-color: unset;
    width: 30%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestampBox span{
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    opacity: 0.5;
}

.grayMsg{
    background-color: rgba(68, 68, 68, 0.4);
}

.errorMsg{
    background-color: rgba(219, 15, 15, 0.3);
}

.connectMsg{
    background-color: rgba(44, 212, 27, 0.3);
}

.messageBox{
    background-color: unset;
    width: 70%;
    height: 100%;
    padding: 2% 6%;
}

.messageBox span{
    font-family: 'JetBrains Mono';
    font-size: 12px;
}

.messageSettingsContainer{
    width: 100%;
    height: 15%;
    background-color: unset;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--secondaryColor);
}

#contentContainer4{
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
}

.messageSettingsButton{
    color: var(--mainColor);
    border-radius: 3px;
    padding: 3px;
}

.messageSettingsButtonContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 100%;
    background-color: unset;
    color: var(--mainColor);
    padding: 5px 0;
    transform: translateY(70%);
    transition-duration: 0.4s;
}

.messageSettingsButtonContainer::before{
    border: var(--tertiaryColor) solid;
    border-width: 3px 0 0 0;
}

#messageSettingsButtonText{
    font-size: 16px;
    font-weight: 800;
}

#messageSettingsArrow{
    font-size: 10px;
    scale: 1 0.5;
    line-height: 10px;
}

.chatOverheadContainer::-webkit-scrollbar {
    display: none;
    width: 0;
}
  
.chatOverheadContainer{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messageSettings{
    background-color: unset;
    height: 70%;
    width: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.singleMessageSetting{
    display: flex;
    align-items: center;
}

.singleMessageSetting label{
    font-size: 10px;
    margin: 0 5px;
}


/* CONNECTION STATUS */